:root {
  --padding-side: 24px;;
}

a {
  text-decoration: none;
}

.scroll-area {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.fa-lg {
  font-size: 4.25em;
}